<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="gameConfig" type="Oxozle.MiniRPG.GameConfig.ConfigSection.GameConfigurationSection, Oxozle.MiniRPG.GameConfig" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <gameConfig>
    <initialPlayerConfig initialPlayerHealth="100" initialPlayerMaxHealth="100" initialPlayerPower="1" initialPlayerCoins="2"/>
    <battle minWinProbability="80" maxWinProbability="70" increasePowerProbability="5">
      <winResult coinsChange="5" healthChange="-10" healthChangeType="Percent"/>
      <looseResult healthChange="-40"/>
    </battle>
    <shops>
      <armor price="10" effectFrom="1" effectTo="2"/>
      <weapon price="10" effectFrom="1" effectTo="2"/>
      <heal price="3" effectFrom="10" effectTo="10"/>
    </shops>
  </gameConfig>
</configuration>
